*.torch filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
DrivableVisionModel/* filter=lfs diff=lfs merge=lfs -text
DrivableVisionModel/*.torch filter=lfs diff=lfs merge=lfs -text
DrivableVisionModel/*.pth filter=lfs diff=lfs merge=lfs -text
